{% extends "base.html" %}
{% load static %}

{% block title %}Clients{% endblock title %}

{% block css %}{% endblock css %}

{% block content-header %}

    <h1>Delete Client</h1>

{% endblock content-header %}

{% block content %}

    <form role="form" method="post">
        {% csrf_token %}

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                        <b>Are you sure you want to remove the client: {{ object.name_surname }}?</b>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-footer" style="text-align: right">
            <a href="{% url 'client:list' %}">
                <div class="btn btn-default"><span class="fas fa-ban"> <span class="btn-custom-font">Cancel</span></span></div>
            </a>
            <button type="submit" class="btn btn-danger"><span class="fas fa-trash"> <span class="btn-custom-font">Delete</span></span></button>
        </div>
    </form>

{% endblock content %}

{% block js %}{% endblock js %}
