{% extends "base.html" %}
{% load static %}

{% block title %}Configuration{% endblock title %}

{% block css %}

    <!-- Select file widget -->
    <link href="{% static 'jasny-bootstrap/css/jasny-bootstrap.min.css' %}" rel="stylesheet">

{% endblock css %}

{% block content-header %}

    <h1>Configuration</h1>

{% endblock content-header %}

{% block content %}

    <form role="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                        {{ field.label|capfirst }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-12">
                        <h3 class="box-title">Site</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                        <b>{{ form.site_name.label }}</b>
                        {{ form.site_name }}
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-4 form-group">
                        <b>{{ form.site_logo_mini.label }} (128x128 px)</b><br>
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 128px; height: 128px;">
                                {% if object.site_logo_mini %}
                                    <img src="{{ object.site_logo_mini.url }}" alt="">
                                {% endif %}
                            </div>
                            <div>
                                <span class="btn btn-outline-secondary btn-file">
                                  <span class="fileinput-new">Select image</span>
                                  <span class="fileinput-exists">Change</span>
                                  {{ form.site_logo_mini }}
                                </span>
                                    <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-12">
                        <h3 class="box-title">Work Orders</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-2 col-sm-4 col-md-4 form-group">
                        <b>{{ form.order_code_sequence.label }}</b>
                        {{ form.order_code_sequence }}
                    </div>
                </div>
            </div>
        </div>

        <div class="box-footer" style="text-align: right">
            <button type="submit" class="btn btn-primary"><span class="fas fa-save"> <span class="btn-custom-font">Save</span></span></button>
        </div>
    </form>

{% endblock content %}

{% block js %}

    <!-- Select file widget -->
    <script src="{% static 'jasny-bootstrap/js/jasny-bootstrap.min.js' %}"></script>

{% endblock js %}
