{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block css %}{% endblock css %}

{% block content-header %}

    <h1>Dashboard</h1>

{% endblock content-header %}


{% block content %}

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-chart-pie mr-1"></i>
                Work Orders
            </h3>
        </div>
        <div class="card-body">
            <div class="chart tab-pane active" id="orders-chart" style="position: relative; height: 300px;">
                <canvas id="orders-chart-canvas" height="300" style="height: 300px;"></canvas>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-chart-pie mr-1"></i>
                Incomes
            </h3>
        </div>
        <div class="card-body">
            <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
                <canvas id="incomes-chart-canvas" height="300" style="height: 300px;"></canvas>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}

    <!-- ChartJS -->
    <script type="text/javascript" src="{% static 'admin_lte/plugins/chart.js/Chart.js' %}"></script>

    <script>
        $(function () {
            'use strict';

            /* Chart.js Charts */
            let chartOptions = {
                maintainAspectRatio: false,
                responsive: true,
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false,
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false,
                        },
                        ticks: {
                            beginAtZero: true,
                            callback: function (value) {
                                if (value % 1 === 0) {
                                    return value;
                                }
                            }
                        }
                    }]
                }
            };

            // Orders chart
            let ordersChartCanvas = document.getElementById('orders-chart-canvas').getContext('2d');
            let ordersChartData = {
                labels: {{labels|safe}},
                datasets: [
                    {
                        label: 'Work Orders',
                        backgroundColor: 'rgba(60,141,188,0.81)',
                        borderColor: 'rgba(60,141,188,0.8)',
                        pointHighlightFill: '#fff',
                        radius: 5,
                        pointRadius: 5,
                        data: {{ month_orders }}
                    }
                ]
            };
            let ordersChart = new Chart(ordersChartCanvas, {
                    type: 'line',
                    data: ordersChartData,
                    options: chartOptions
                }
            );

            // Incomes chart
            let incomesChartCanvas = document.getElementById('incomes-chart-canvas').getContext('2d');
            let incomesChartData = {
                labels: {{labels|safe}},
                datasets: [
                    {
                        label: 'Incomes',
                        backgroundColor: 'rgba(95,188,68,0.81)',
                        borderColor: 'rgba(95,188,68,0.88)',
                        pointHighlightFill: '#fff',
                        radius: 5,
                        pointRadius: 5,
                        data: {{ month_incomes }}
                    }
                ]
            };
            let incomesChart = new Chart(incomesChartCanvas, {
                    type: 'line',
                    data: incomesChartData,
                    options: chartOptions
                }
            );
        });
    </script>

{% endblock js %}

