{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block css %}{% endblock css %}

{% block content-header %}

    <h1>Dashboard</h1>

{% endblock content-header %}


{% block content %}

    <div class="box-header with-border">
        <h3 class="box-title">Monthly work orders</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="chart">
                    <canvas id="ordersChart" style="height: 180px;"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="box-header with-border">
        <h3 class="box-title">Monthly incomes</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="chart">
                    <canvas id="salesChart" style="height: 180px;"></canvas>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}

    <!-- ChartJS -->
    <script type="text/javascript" src="{% static 'admin_lte/bower_components/chart.js/Chart.js' %}"></script>

    <script>
        $(function () {
            'use strict';
            let chartOptions = {
                showScale               : true,
                scaleShowGridLines      : false,
                scaleGridLineColor      : 'rgba(0,0,0,.05)',
                scaleGridLineWidth      : 1,
                scaleShowHorizontalLines: true,
                scaleShowVerticalLines  : true,
                bezierCurve             : true,
                bezierCurveTension      : 0.3,
                pointDot                : false,
                pointDotRadius          : 4,
                pointDotStrokeWidth     : 1,
                pointHitDetectionRadius : 20,
                datasetStroke           : true,
                datasetStrokeWidth      : 2,
                datasetFill             : true,
                maintainAspectRatio     : true,
                responsive              : true
            };

            // Create the line orders chart
            let ordersChartCanvas = $('#ordersChart').get(0).getContext('2d');
            let ordersChart       = new Chart(ordersChartCanvas);
            let ordersChartData = {
                labels  : {{ labels|safe }},
                datasets: [
                    {
                        label               : 'Work orders',
                        fillColor           : 'rgb(75,222,123)',
                        strokeColor         : 'rgb(210, 214, 222)',
                        pointColor          : 'rgb(210, 214, 222)',
                        pointStrokeColor    : '#c1c7d1',
                        pointHighlightFill  : '#fff',
                        pointHighlightStroke: 'rgb(220,220,220)',
                        data                : {{ month_orders }}
                    }
                ]
            };
            ordersChart.Line(ordersChartData, chartOptions);

            // Create the line sales chart
            let salesChartCanvas = $('#salesChart').get(0).getContext('2d');
            let salesChart = new Chart(salesChartCanvas);
            let salesChartData = {
                labels  : {{ labels|safe }},
                datasets: [
                    {
                        label               : 'Incomes',
                        fillColor           : 'rgba(60,141,188,0.9)',
                        strokeColor         : 'rgba(60,141,188,0.8)',
                        pointColor          : '#3b8bba',
                        pointStrokeColor    : 'rgba(60,141,188,1)',
                        pointHighlightFill  : '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data                : {{ month_incomes }}
                    }
                ]
            };
            salesChart.Line(salesChartData, chartOptions);
        });
    </script>

{% endblock js %}

